<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RabbitMqBusConfigurationSection" type="RabbitMqServiceBus.Configuration.RabbitMqBusConfigurationSection,RabbitMqServiceBus"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <RabbitMqBusConfigurationSection>
    <rabbitMqConnection uri="" vhost="CMGWholesale" port="5672" connectionTimeout="20" userName="admin" password="admin" hostname="blrcswcmgv01"></rabbitMqConnection>
    <deadletterexchange exchange="cmg.exchange.dead" type="direct"></deadletterexchange>
    <RabbitMqBusEndPoints>
      <add name="Email-End-Point" exchange="cmg.email" exchangetype="direct" queue="cmg-email-queue" TTL="15000" durable="True" routingkey="emailqueue" dead-letter-routing="True"></add>
      <add name="Email-dead-EndPoint" exchange="cmg.exchange.dead" exchangetype="direct" queue="cmg-email-dead-queue" TTL="-1" durable="True" routingkey="emailqueue" dead-letter-routing="False"></add>
    </RabbitMqBusEndPoints>
  </RabbitMqBusConfigurationSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>