<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RabbitMqBusConfigurationSection" type="RabbitMqServiceBus.Configuration.RabbitMqBusConfigurationSection,RabbitMqServiceBus"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <RabbitMqBusConfigurationSection>
    <rabbitMqConnection uri="" vhost="CMGWholesale" port="5672" connectionTimeout="20" userName="admin" password="admin" hostname="blrcswcmgv01"></rabbitMqConnection>
     <rabbitMqAlternateConnection uri="" vhost="cmgwholesale" port="5672" connectionTimeout="20" userName="admin" password="admin" hostname="SARVESH-TI10353.in.corp.tavant.com"></rabbitMqAlternateConnection>
    <deadletterexchange exchange="cmg.exchange.dead" type="direct"></deadletterexchange>
    <RabbitMqBusEndPoints>
      <add name="Email-End-Point" exchange="cmg.email" exchangetype="direct" queue="cmg-email-queue" TTL="60" durable="True" routingkey="emailqueue" dead-letter-routing="True"></add>
      <add name="Email-dead-EndPoint" exchange="cmg.exchange.dead" exchangetype="direct" queue="cmg-email-dead-queue" TTL="-1" durable="True" routingkey="emailqueue" dead-letter-routing="False"></add>
 </RabbitMqBusEndPoints>
  </RabbitMqBusConfigurationSection>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="D:\\RabbitMqConnectionlog.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="100KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  </log4net>


</configuration>
